// Object Fit mixin.
@mixin object-fit {
  z-index: 1;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  transform-origin: center center;
  object-position: 50% 50%;
  object-fit: cover;
  font-family: 'object-fit: contain;object-position: 50% 50%';
}

// Responsive property mixin.
@mixin responsive-property($type: padding-horizontal, $sm: null, $md: null, $l: null, $xl: null, $xxl: null) {

  @if variable-exists(type) and $type != padding-vertical and $type != padding-horizontal and $type != margin-vertical and $type != margin-horizontal {
    // Set base spacing for small devices
    @if variable-exists(sm) and $sm != null {
      #{$type}: $sm;
    }

    // Set spacing for medium and up.
    @if variable-exists(md) and $md != null {
      @include breakpoint(medium) {
        #{$type}: $md;
      }
    }

    // Set spacing for large and up.
    @if variable-exists(l) and $l != null {
      @include breakpoint(large) {
        #{$type}: $l;
      }
    }

    // Set spacing for xlarge and up.
    @if variable-exists(xl) and $xl != null {
      @include breakpoint(xlarge) {
        #{$type}: $xl;
      }
    }

    // Set spacing for xxlarge and up.
    @if variable-exists(xxl) and $xxl != null {
      @include breakpoint(xxlarge) {
        #{$type}: $xxl;
      }
    }
  }

  @if variable-exists(type) and $type == padding-vertical {
    // Set base spacing for small devices
    @if variable-exists(sm) and $sm != null {
      padding-top: $sm;
      padding-bottom: $sm;
    }

    // Set spacing for medium and up.
    @if variable-exists(md) and $md != null {
      @include breakpoint(medium) {
        padding-top: $md;
        padding-bottom: $md;
      }
    }

    // Set spacing for large and up.
    @if variable-exists(l) and $l != null {
      @include breakpoint(large) {
        padding-top: $l;
        padding-bottom: $l;
      }
    }

    // Set spacing for xlarge and up.
    @if variable-exists(xl) and $xl != null {
      @include breakpoint(xlarge) {
        padding-top: $xl;
        padding-bottom: $xl;
      }
    }

    // Set spacing for xxlarge and up.
    @if variable-exists(xxl) and $xxl != null {
      @include breakpoint(xxlarge) {
        padding-top: $xxl;
        padding-bottom: $xxl;
      }
    }
  }

  @if variable-exists(type) and $type == padding-horizontal {
    // Set base spacing for small devices
    @if variable-exists(sm) and $sm != null {
      padding-left: $sm;
      padding-right: $sm;
    }

    // Set spacing for medium and up.
    @if variable-exists(md) and $md != null {
      @include breakpoint(medium) {
        padding-left: $md;
        padding-right: $md;
      }
    }

    // Set spacing for large and up.
    @if variable-exists(l) and $l != null {
      @include breakpoint(large) {
        padding-left: $l;
        padding-right: $l;
      }
    }

    // Set spacing for xlarge and up.
    @if variable-exists(xl) and $xl != null {
      @include breakpoint(xlarge) {
        padding-left: $xl;
        padding-right: $xl;
      }
    }

    // Set spacing for xxlarge and up.
    @if variable-exists(xxl) and $xxl != null {
      @include breakpoint(xxlarge) {
        padding-left: $xxl;
        padding-right: $xxl;
      }
    }
  }

  @if variable-exists(type) and $type == margin-vertical {
    // Set base spacing for small devices
    @if variable-exists(sm) and $sm != null {
      margin-top: $sm;
      margin-bottom: $sm;
    }

    // Set spacing for medium and up.
    @if variable-exists(md) and $md != null {
      @include breakpoint(medium) {
        margin-top: $md;
        margin-bottom: $md;
      }
    }

    // Set spacing for large and up.
    @if variable-exists(l) and $l != null {
      @include breakpoint(large) {
        margin-top: $l;
        margin-bottom: $l;
      }
    }

    // Set spacing for xlarge and up.
    @if variable-exists(xl) and $xl != null {
      @include breakpoint(xlarge) {
        margin-top: $xl;
        margin-bottom: $xl;
      }
    }

    // Set spacing for xxlarge and up.
    @if variable-exists(xxl) and $xxl != null {
      @include breakpoint(xxlarge) {
        margin-top: $xxl;
        margin-bottom: $xxl;
      }
    }
  }

  @if variable-exists(type) and $type == margin-horizontal {
    // Set base spacing for small devices
    @if variable-exists(sm) and $sm != null {
      margin-left: $sm;
      margin-right: $sm;
    }

    // Set spacing for medium and up.
    @if variable-exists(md) and $md != null {
      @include breakpoint(medium) {
        margin-left: $md;
        margin-right: $md;
      }
    }

    // Set spacing for large and up.
    @if variable-exists(l) and $l != null {
      @include breakpoint(large) {
        margin-left: $l;
        margin-right: $l;
      }
    }

    // Set spacing for xlarge and up.
    @if variable-exists(xl) and $xl != null {
      @include breakpoint(xlarge) {
        margin-left: $xl;
        margin-right: $xl;
      }
    }

    // Set spacing for xxlarge and up.
    @if variable-exists(xxl) and $xxl != null {
      @include breakpoint(xxlarge) {
        margin-left: $xxl;
        margin-right: $xxl;
      }
    }
  }
}
