{#
/**
 * @file
 * ZURB Template's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<div class="off-canvas-wrapper">
  <div class="inner-wrap off-canvas-wrapper-inner" id="inner-wrap" data-off-canvas-wrapper>
    <aside id="left-off-canvas-menu" class="off-canvas left-off-canvas-menu position-left" role="complementary" data-off-canvas>
      {# @todo: off canvas left #}
      {#{{ page.left_off_canvas }}#}
    </aside>

    <aside id="right-off-canvas-menu" class="off-canvas right-off-canvas-menu position-right" role="complementary" data-off-canvas>
      {# @todo: off canvas right #}
      {#{{ page.right_off_canvas }}#}
    </aside>

    <div class="off-canvas-content" data-off-canvas-content>

      {% if top_bar %}
        {{ top_bar }}
      {% endif %}

      {% if linked_site_name or linked_logo or show_account_info %}
        <br />
        <div class="grid-container grid-container-padded">
          <div class="grid-x grid-margin-y">
            {% if linked_site_name and linked_logo %}
              <div class="large-2 cell">
                {% if linked_logo %}
                  {{ linked_logo }}
                {% endif %}
              </div>
              <div class="large-7 cell">
                {% if is_front %}
                  <h1 class="h4 margin-horizontal-1" id="site-name">{{ linked_site_name }}</h1>
                {% else %}
                  <div class="h4 margin-horizontal-1" id="site-name">{{ linked_site_name }}</div>
                {% endif %}
              </div>
            {% elseif linked_site_name or linked_logo %}
              <div class="large-9 cell">
                {% if linked_logo %}
                  {{ linked_logo }}
                {% endif %}
                {% if linked_site_name %}
                  {% if is_front %}
                    <h1 class="h4" id="site-name">{{ linked_site_name }}</h1>
                  {% else %}
                    <div class="h4" id="site-name">{{ linked_site_name }}</div>
                  {% endif %}
                {% endif %}
              </div>
            {% endif %}
            {% if show_account_info %}
              <div class="small-12 large-3 cell">
                <div class="button-group small expanded">
                  {% if logged_in %}
                    <a class="button" href="{{ path('user.page') }}">{{ 'My Account'|t }}</a>
                    <a class="button secondary" href="{{ path('user.logout') }}">{{ 'Logout'|t }}</a>
                  {% else %}
                    <a class="button" href="{{ path('user.login') }}">{{ 'Login'|t }}</a>
                    <a class="button secondary" href="{{ path('user.register') }}">{{ 'Sign Up'|t }}</a>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}

      <header class="l-header" role="banner" aria-label="{{ 'Site header'|t }}">
        {% if page.header %}
          <div class="grid-container grid-container-padded">
            <div class="grid-x">
              <div class="large-12 cell">
                {{ page.header }}
              </div>
            </div>
          </div>
        {% endif %}
      </header>

      {% if page.help %}
        <div class="l-help grid-container grid-container-padded">
          <div class="grid-x">
            <div class="large-12 cell">
              {{ page.help }}
            </div>
          </div>
        </div>
      {% endif %}

      <div class="l-main grid-container grid-container-padded">
        <div class="grid-x">
          <main id="main" class="large-12 cell" role="main">
            {% if page.highlighted %}
              {% apply spaceless %}
                {{ page.highlighted }}
              {% endapply %}
            {% endif %}
            <a id="main-content"></a>
            {% if breadcrumb %} {{ breadcrumb }} {% endif %}
            <section>
              {{ page.content }}
            </section>
          </main>
        </div>
      </div>

      <div class="l-footer grid-container grid-container-padded">
        <div class="grid-x">
          <div class="large-12 cell text-center subheader">
            <br />
            <small>&copy; {{ "now"|date('Y') }} {{ site_name }} {{ 'All rights reserved.'|t }}</small>
            <br /><br />
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
