// Message defaults
.messages {
	margin: 1rem auto;
	padding: 1rem 1rem 1rem 3rem;
	background: none;
	border: none;
	position: relative;
	min-height: 3.5rem;
	color: color(white);

	&:before {
    font-family: $font-awesome;
		color: color(white);
		content: "\f071";
		position: absolute;
		top: 1rem;
		left: 1rem;
		height: 1rem;
		width: 1rem;
	}

  ul {
    margin: 0 0 0 3rem;
    padding: 0;
  }

  li {
    list-style-image: none;
  }

  // Status Modifier
  &--status {
    background-color: color(success);

    &::before {
      content: "\f058";
    }
  }

  // Warning Modifier
  &--warning {
    background-color: color(warning);

    &::before {
      content: "\f071";
    }
  }

  // Error Modifier
  &--error {
    background-color: color(alert);

    &::before {
      content: "\f057";
    }
  }
}
