.orbit {
	height: auto;
	max-height: 100% !important;

  &-container {
    height: auto !important;
  }

  &-slide {
    max-height: 100% !important;
  }

  &-image {
    img {
      width: 100%;
      height: auto;
    }
  }
}
