// Foundation overrides
.grid-container {
	// Forces the left and right padding for grid containers
	// to match the gutter width.
	@include responsive-property(padding-horizontal, gutter(small), gutter(medium));

	&.narrow {
		max-width: 800px;
	}

	&.collapse {
		padding: 0 !important;
	}
}

// Enable prototying visuals.
@if $grid-prototyping == true {
	body {
		&:before {
			@include box-shadow;
			position: fixed;
			z-index: 9999;
			bottom: 0;
			right: 0;
			padding: .5rem 1rem;
			color: color(white);
			content: 'small';
			background: color(blue);

			@include breakpoint(medium) {
				content: 'medium';
				background: color(brown);
			}

			@include breakpoint(large) {
				content: 'large';
				background: color(green);
			}

			@include breakpoint(xlarge) {
				content: 'xlarge';
				background: color(orange);
			}

			@include breakpoint(xxlarge) {
				content: 'xxlarge';
				background: color(aqua);
			}
		}
	}
}

.input-group {
	&-field {
		height: auto;
	}

	&-button {
		input[type="submit"] {
			margin-bottom: 0;
		}
	}
}
