// Import fonts
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,700i';

// Font awesome
$fa-font-path: "../fonts";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/fontawesome";

// Font awesome font family variable.
$font-awesome: 'Font Awesome 5 Free', sans-serif;

// Font color utility classes
.color {
  @each $name, $color in $colors {
    &--#{$name} {
      color: $color !important;
    }
  }
}
